{% extends 'base.html' %}
{% load static %}

{% block title%} ツイート {% endblock %}

{% block content %}
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>内容</th>
            <th>作成日</th>
            <th>いいね</th>
            {% if tweet.user == request.user %}
            <th>削除</th>
            {% endif %}
        </tr>
        <tr>
            <td>{{tweet.pk}}</td>
            <td>{{tweet.content}}</td>
            <td>{{tweet.created_at}}</td>
            <td>
				<button class="likebtn" data-pk="{{ tweet.pk }}" data-like-count="{{ like_counts }}" data-is-liked="{% if is_liked %}T{% else %}F{% endif %}"></span>
            </td>
            {% if tweet.user == request.user %}
            <td>
                <form action="{% url 'tweets:delete' tweet.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">削除</button>
                </form>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
<script src="{% static 'js/like.js' %}"></script>
{% endblock content %}
