{% extends 'base.html' %}
{% load static %}

{% block title%} ツイート {% endblock %}

{% block content %}
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>内容</th>
            <th>作成日</th>
            {% if object.user.username == request.user %}
            <th>削除</th>
            {% endif %}
        </tr>
        <tr>
            <td>{{tweet.pk}}</td>
            <td>{{tweet.content}}</td>
            {% if is_tweet_user %}
            <td><a href={% url 'tweets:delete' tweet.pk %}>削除</a></td>
            {% endif %}
        </tr>
    </table>
</div>
{% endblock content %}
