{% extends 'base.html' %}
{% load static %}

{% block title %}
HOME
{% endblock title %}

{% block content %}
<h1>Backend Final Assignment</h1>
{% if request.user.is_authenticated %}
<h2>
  {{ request.user.username }}
</h2>
<div>
  <a href="{% url 'accounts:logout' %}"><button>logout</button></a>
</div>
<div>
  <a href="{% url 'tweets:create' %}"><button>Tweet!</button></a>
</div>
<div>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>内容</th>
      <th>作成日</th>
      <th>ユーザー</th>
      <th>いいね</th>
      <th>削除</th>
    </tr>
    {% for tweet in object_list %}
    <tr>
      <td>{{ tweet.id }}</td>
      <td><a href={% url 'tweets:detail' tweet.id %}>{{ tweet.content }}</a></td>
      <td>{{ tweet.created_at }}</td>
      <td><a href={% url 'accounts:user_profile' tweet.user %}>{{ tweet.user }}</td>
	  <td>
          {{ tweet.like_counts }}
		  {% if tweet.is_liked %}
		  <form method="post" action="{% url 'tweets:unlike' tweet.id %}">
			  {% csrf_token %}
			  <button type="submit" class="btn btn-primary">
				  Unlike
				  {% else %}
				  <form method="post" action="{% url 'tweets:like' tweet.id %}">
					  {% csrf_token %}
					  <button type="submit" class="btn btn-primary">
						  Like
						  {% endif %}
					  </button>
				  </form>
	  </td>
	  <td>
        {% if tweet.user == request.user %}
        <form action="{% url 'tweets:delete' tweet.id %}" method="POST">
          {% csrf_token %}
          <button type="submit">削除</button>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% else %}
現在ログインしていません
<div>
  <a href="{% url 'accounts:signup' %}"><button>SignUp</button></a>
  <a href="{% url 'accounts:login' %}"><button>login</button></a>
</div>
{% endif %}
{% endblock content %}
