{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <h4 class="title">
            <a href="{% url 'welcome:top' %}">Twitter Clone</a>
        </h4>
    <nav class="nav">
        <ul class="menu-group">
          {% if request.user.is_authenticated %}
            <li class="menu-item"><a href="{% url 'tweets:home' %}">ホーム</a></li>
          {% else %}
            <li class="menu-item"><a href="{% url 'accounts:login' %}">ログイン</a></li>
            <li class="menu-item"><a href="{% url 'accounts:signup' %}">登録</a></li>
          {% endif %}
      </ul>
    </nav>
  </header>
  <article>
    <h1>
      {% block h1 %}{% endblock h1 %}
    </h1>
    {% block content %}{% endblock content %}
  </article>
</body>

</html>
